*.Rproj
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_cache/
*_files
*_files/
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.git
.httr-oauth
/Meta/
/doc/
Meta
credentials
doc
docs
inst/*.html
inst/databanktoestanden
inst/doc
inst/oudecode
inst/problemen
libs
output
renv/library
vignettes/*.R
vignettes/*.html
.positai
